@import 'tailwindcss';

@theme {
  --font-section: Jaapokki Enhance, sans-serif;
  --font-details: var(--font-josefin-sans), sans-serif;
  --font-sans: var(--font-lato), sans-serif;

  --text-name: min(6rem, 16vw);
}

@layer base {
  @font-face {
    font-family: 'Jaapokki Enhance';
    src: url('/fonts/jaapokkienhance-regular.woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}
