@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato&display=swap');

@font-face {
  font-family: "Jaapokki Enhance";
  src: url("/fonts/jaapokkienhance-regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
